footer {
    margin-top: 200px;
    width: 100vw;
    height: 50vh;
    background: red;

    display: flex;
    flex-direction: column;
    padding: 120px;
}

footer h1 {
    width: 300px;
    word-wrap: break-word;
}

.footer-row {
    font-size: 15px;
    /*margin-top: 20px;*/
    display: flex;
    justify-content: space-between;
}