footer {
    margin-top: 100px;
    width: 100vw;
    height: 70vh;
    background: black;

    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: column;
    padding: 150px;
    color: white;
}

footer h1 {
    width: 200px;
    word-wrap: break-word;
}

.footer-row {
    font-size: 12px;
    /*margin-top: 20px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-col {
    display: flex;
    flex-direction: column;
    height: 100%;
    /*gap: 10px;*/
    /*background: black;*/
}

.footer-row2 {
    margin-top: 90px;
    display: flex;
    /*gap: 40px;*/
    align-items: center;
    justify-content: space-between;
}

.footer-row2 h3{
    width: 300px;
    font-size: 30px;
    margin-right: 50px;
}

.fut {
    display: flex;
    font-size: 12px;
}

.sos {
    display: flex;
    width: 130px;
    height: 35px;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    border: 0.1px solid white;
    margin-right: 2px;

    cursor: pointer;
}

.sos:hover {
    transform: translateX(0%) scale(1.04);
}

