.txt {
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.orang-img {
    flex: 1;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
}


.mainText {
    flex: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    /*background: blue;*/
    width: 100%;
    height: 100%;
}