*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 9%;
    background: transparent;
}

body{
    background: whitesmoke;
}

.dumy {
    color: whitesmoke;
}

.navlist{
    display: flex;
}

.navlist a{
    color: black;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover{
    border-bottom: 2px solid yellow;
}

#menu-icon{
    color: black;
    font-size: 25px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.main-body{
    height: 100%;
    width: 100%;
    min-height: 110svh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.main-text h1{
    font-size: 90px;
    margin-bottom: 40px;

}

.main-text h3{
    font-size: 40px;
    font-weight: 400;
}

.main-text h4{
    font-size: 20px;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.orang-img{
    width: 1px;
    width: 1px;
}

section{
    padding: 0 19%;
}

.hollow-rectangle {
    position: absolute; /* atau position: absolute; */
    top: 50%; /* Mengatur posisi vertikal di tengah */
    left: 50%; /* Mengatur posisi horizontal di tengah */
    transform: translate(-50%, -50%); /* Membuat rectangle berada di tengah layar */
    width: 92vw; /* 75% dari lebar layar */
    height: 92vh; /* 50% dari tinggi layar */
    border: 8px solid #000;
    border-radius: 20px; /* Atur sesuai kebutuhan */
    box-sizing: border-box;
    z-index: -1; /* Menempatkan elemen di belakang elemen lain */
}

