*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 9%;
    background: transparent;
}

body{
    background: whitesmoke;
}

.dumy {
    color: whitesmoke;
}

.navlist{
    display: flex;
}

.navlist a{
    color: black;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover{
    border-bottom: 2px solid yellow;
}

#menu-icon{
    color: black;
    font-size: 25px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.main-body{
    height: 100%;
    width: 100%;
    min-height: 90vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.main-text h1{
    font-size: 90px;
}

.orang-img{
    width: 1px;
    width: 1px;
}

section{
    padding: 0 19%;
}

