.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row-fs{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.row-fe{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.row-fe-tok{
    display: flex;
    align-items: flex-end;
}

.row-sb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.row-sb-tok {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.row-sb-fs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*align-items: flex-start;*/
    /*flex-wrap: wrap;*/
    width: 100%;
    height: 100%;
}


.row-sa {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /*flex-wrap: wrap;*/
    width:100%;
    height: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.col-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.col-fe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.col-sb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.col-sb-c {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.col-sb-fs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.3s ease-in-out;
    object-fit: cover;

}

