*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    height: 100%;
    width: 100vw;
    background: whitesmoke;

}

body::-webkit-scrollbar {
    display: none;
}

main{
    padding: 2rem 5rem 20px 7rem;
}

.gmbar{
    margin-top: 0.5rem;
    width: 50rem;
    height: 30rem;
    border-radius: 10px;
}

.txt{
    margin-top: 1rem;
    width: 49rem;
    text-align: justify;
}

.other{
    margin: 2rem 0 0 6rem;
    gap: 1rem ;
}

.berita{
    width: 15rem;
    height: 10rem;
    border-radius: 10px;
    background: black;
}