*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*font-family: 'Space Grotesk', sans-serif;*/
    font-family: "Lexend Light";
    list-style: none;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    /*height: 100%;*/
    width: 100vw;
    background: whitesmoke;

}

body::-webkit-scrollbar {
    display: none;
}

main{
    padding: 8%;
    padding-top: 5%;
    width: 100vw;
    /*height: 150vh;*/
}

.tit{
    margin-left: 5px;
    font-size: 3rem;
}

.tit{
    margin-left: 5px;
    font-size: 3rem;
}

.can{
    margin-top: 5%;
}

.cover{
    width: 260px;
    margin: 0;
    transition: 0.6s;
    height: 260px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
}

.cover > img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /*background: gray;*/
}

.cover:hover{
    transform:scale(1.2);
}

.grid-con {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 25px;
    column-gap: 20px;
    padding: 10px;
}