.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(120%);
    transition: all 1s;
    transition-delay: 0.1s;

    width: 500px;
    text-align: left;
    margin-bottom: 40px;
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(102%);
}
