.idk {
    margin: auto;
    margin-top: 80px;
    width: 95%;
    height: 4vh;
    background: lightgray;
}

.big-pict {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.big-pict h3 {
    position: absolute;
    right: 50px;
    margin-top: 10px;
    color: white;
    font-weight: 100px;
    font-family: "Neue Regrade";
}

.big-pict h2 {
    position: absolute;
    left: 50px;
    margin-top: 10px;
    color: white;
    font-size: 20px;
    font-weight: 100px;
    font-family: "Neue Regrade";
}

.pict {
    width: 95%;
    height: 600px;
    background: lightgray;
    /*border: 1px solid black;*/
}

.col-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 75px;
    /*margin-top: 50px;*/

}

.row-box {
    display: flex;
    justify-content: space-between;
}

.row-box:nth-child(2){
    margin-top: 50px;
}

.box-child {
    width: 370px;
    height: 500px;
    background: white;
    border: 1px solid black;
}

.desc-bp {
    margin-top: 20px;
    margin-left: 40px;
    font-size: 20px;
}