*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*font-family: 'Space Grotesk', sans-serif;*/
    list-style: none;
    font-family: "Lexend Light";

    text-decoration: none;
}

body {
    overflow-x: hidden;
    height: 100%;
    width: 100vw;
    background: whitesmoke;

}

body::-webkit-scrollbar {
    display: none;
}

.c1{
    padding: 8%;
    padding-top: 3%;
}

.dot{
    width: 80px;
    height: 80px;
    background: black;
    border-radius: 100%;
    border: solid white 2px;
}

.c1 h1{
    text-align: justify;
    font-size: 65px;
}

.card{
    width: 200px;
    height: 120px;
    background: lightgray;
    border-radius: 20px;
}

.menu{
    width: 340px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    padding-right: 2%;
    padding-left: 2%;

    border: solid black 1px;
    margin-bottom: 5px;

}

.gamba{
    width: 400px;
    height: 550px;
    background: black;
    border-radius: 30px;
}

.c2{
    margin-right: 20px;
    /*background: yellow;*/
}

.card-stack{
    width: 170px;
    height: 210px;
    background: lightgray;
    border-radius: 20px;
    z-index: 1;
    padding: 10px;
}

.card-stack2{
    width: 170px;
    height: 210px;
    background: darkslategray;
    border-radius: 20px;
    margin-left: -15vw;
    z-index: 0;
    transform: rotate(-6deg);
}

.swipe{
    width: 30px;
    height: 7px;
    background: lightgray;
    border-radius: 30px;
}

.swipe:nth-child(1){
    background: black;
}

.di{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: solid black 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.di2{
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.terms{
    padding-left: 8%;
}