*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    height: 100%;
    width: 100vw;
    background: whitesmoke;

}

body::-webkit-scrollbar {
    display: none;
}