*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    height: 100%;
    width: 100vw;
    background: whitesmoke;

}

body::-webkit-scrollbar {
    display: none;
}

main{
    padding: 2%;
    width: 100vw;
    height: 150vh;
}

.canvas{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: black;
    border-radius: 30px;
    padding: 1%;
}


.content{
    position: relative;
    display: flex;
    /*padding: 2%;*/
}

.a{
    height: 70%;
}

.a2{
    height: 30%;
}

.p{
    margin: 4%;
    margin-bottom: 0px;
}

.b1{
    flex: 2;
    background: white;
    height: 100%;
    border-radius: 20px;

}

.b1 h1{
    font-size: 90px;
}

.b2{
    flex: 1;
    background: cornflowerblue;
    height: 100%;
    border-radius: 23px;
}

.b3 {
    flex: 1;
    background: deepskyblue;
    height: 100%;
    border-radius: 15px;
}

.b3:nth-child(3){
    background: white;
}

.co{
    padding: 4%;
    padding-top: 0%;
}

.but{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background: black;
    color: white;
    border-radius: 30px;
}

.but2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 30px;
}

.co2{
    padding: 4%;
    padding-bottom: 8%;
}

.co2 h1{
    font-size: 40px;
}

.casing {
    width: 100%;
    height: 100%;
    padding: 1%;
    padding-top: 5%;
}

.co3{
    width: 100%;
    height: 90%;
    border-radius: 10px;
}

.ro{
    margin: 0% 5% 0% 7%;
}

.capsule{
    width: 100px;
    height: 30px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.dot{
    width: 50px;
    height: 50px;
    background: black;
    border-radius: 100%;
    border: solid white 2px;
}