*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    /*background-color: rgb(10, 10, 10);*/
    /*background: #F4EAE0;*/
    display: flex;
    height: 400vh;
    width: 100vw;
    margin: 0px;
    place-items: flex-start;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

main {
    /*display: flex;*/
    /*flex-direction: column;*/
    position: relative;
    z-index: 2;

    height: 100vh;
    width: 100vw;


    /*align-items: flex-start;*/
}

section {
    display: flex;
    /*margin-left: 46px;*/
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
}

.heder {
    margin-bottom: 20px;
}

.otw {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    margin-top: 100px;
    padding: 20px;
    /*background: yellow;*/
    height: 130px;
}

.otw h1 {
    font-size: 120px;
    font-weight: bold;
    font-style: Orith_display;
}

.block {
   display: flex;
    margin-top: 22px;
}

.kid:nth-child(1) {
    width: 94px;
    height: 90px;
    background: black;
    margin-right: 2px;
}

.kid:nth-child(2) {
    width: 47px;
    height: 90px;
    background: black;
    margin-right: 2px;
}

.kid:nth-child(3) {
    width: 24px;
    height: 90px;
    background: black;
    margin-right: 2px;
}

.kid:nth-child(4) {
    width: 24px;
    height: 90px;
    background: black;
    margin-right: 2px;
}

.kid:nth-child(5) {
    width: 12px;
    height: 90px;
    background: black;
    margin-right: 2px;
}

.kid:nth-child(6) {
    width: 6px;
    height: 90px;
    background: black;
    margin-right: 2px;
}

.kido {
    width: 3px;
    height: 90px;
    background: black;
    margin-right: 2px;
}

.c {
    display: flex;
    padding-right: 21px;
    justify-content: flex-end;
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 20px;
}

.bbox {
    display: flex;
    flex-direction: column;
    height: 365px;
    background: black;
    align-items: center;
    justify-content: center;
}

.bbox h1{
    font-size: 30px;
    color: white;
    font-style: oblique;
    font-weight: 100;
}

.wh {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    padding: 25px;
    padding-bottom: 3px;
}

.blk:nth-child(1){
    width: 35%;
    height: 463px;
    background: #495E57;
}

.blk:nth-child(2){
    width: 63%;
    height: 463px;
    background: #F4CE14;
}

.ttxx{
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    /*background: green;*/
    align-items: flex-start;
    justify-content: space-between;
}
.ttxx h2{
    /*flex: 2;*/
    font-size: 16px;
}
.ttxx h1{
    /*flex: 1;*/
    margin-left: 170px;
    font-size: 100px;
    font-weight: 700;
    color: #191717;
    font-family: "Neue Regrade";
}

.ttxx h3 {
    /*margin-left: 418px;*/
}


