*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    display: flex;
    height: 400vh;
    width: 100vw;
    margin: 0px;
    place-items: flex-start;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

main {
    /*display: flex;*/
    /*flex-direction: column;*/
    position: relative;
    z-index: 2;

    height: 100vh;
    width: 100vw;

    /*align-items: flex-start;*/
}

.mc {
    padding-left: 50px;
    padding-top: 50px;
    margin-top: 75px;
}

.txt-top {
}

.txt-top h3 {
    text-align: justify;
    width: 500px; /* Sesuaikan lebar sesuai kebutuhan */
    word-wrap: break-word;
    margin-bottom: 55px;
}

.txt-top h1 {
    font-family: "Orith display";
    font-size: 128px;
}

.box-right {
    position: absolute;
    right: 50px;
    top: 127px;

    width: 550px;
    height: 340px;
    background: lightgray;
    border-radius: 20px;

}

.dot {
    position: absolute;
    right: 535px;
    top: 165px;

    height: 130px;
    width: 130px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

.dot2 {
    position: absolute;
    right: 560px;
    top: 190px;

    height: 80px;
    width: 80px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.container2 {
    display: flex;
    padding-left: 50px;
    /*align-items: center;*/
    /*justify-content: space-between;*/
}

.box-left {
    width: 590px;
    height: 340px;
    background: lightgray;
    border-radius: 20px;
    margin-right: 70px;

}

.col {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.col h3 {
    text-align: justify;
    width: 500px; /* Sesuaikan lebar sesuai kebutuhan */
    word-wrap: break-word;
    margin-bottom: 20px;
}

.explr {
    width: 200px;
    height: 50px;
    background: orange;
    border-radius: 30px;
    cursor: cell;
    
    display: flex;
    padding-left: 20px;
    align-items: center;
    justify-content: space-around;
}

.explr:hover {
    transform: translateX(0%) scale(1.04);

}

.dott {
    height: 35px;
    width: 35px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}

.orange-line {
    position: absolute;
    top: 138%;
    left: -50%;
    transform: rotate(5deg);

    width: 160vw;
    height: 130px;
    background: orange;
}

.blk-line {
    position: absolute;
    top: 142%;
    left: -50%;
    transform: rotate(-3deg);

    width: 160vw;
    height: 130px;
    background: black;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.blk-line h1{
    color: white;
}
