*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    height: 200vh;
    width: 100vw;
    /*padding-bottom: 10px;*/
}

body::-webkit-scrollbar {
    display: none;
}

section{

    position: relative;
    background: white;
    transition: transform 500ms cubic-bezier(.13,.53,.38,.97);
    z-index: 2;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;

    /*justify-content: center;*/
    /*align-items: center;*/
    height: 220vh; /* Sesuaikan dengan tinggi yang diinginkan */
    width: 95vw; /* Sesuaikan dengan lebar yang diinginkan */
    margin: 10px auto 0; /* Memberikan margin otomatis sehingga elemen tetap di tengah */
    border: 4px solid #000;
    border-radius: 10px;
    box-sizing: border-box;
    /*background: whitesmoke;*/

}

.mainContent {
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    /*background: green;*/
}

.mainContent{
    margin-top: 180px;
    margin-left: 200px;
}

#txt-par {
    /*display: grid;*/
    min-height: 60vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-60%);
    transition: all 1s;
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}