.txt {
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.orang-img {
    flex: 1;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
    bottom: 50px;
    right: 100px;
}


.mainText{
    flex: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    /*background: blue;*/
    width: 100%;
    height: 100%;

    top: 100px;
    left: 180px;
}


h1{
    font-size: 90px;
    margin-bottom: 40px;
}

.desc {
    font-size: 30px;

}

.description {
    text-align: justify;
    width: 300px; /* Sesuaikan lebar sesuai kebutuhan */
    word-wrap: break-word;
    margin-bottom: 20px; /* Jarak antara elemen */
    opacity: 1; /* Set opacity ke 1 agar elemen terlihat */
    transition: opacity 0.5s ease-in-out; /* Efek transisi untuk opacity */
}

.description.hide {
    opacity: 0; /* Set opacity ke 0 untuk menyembunyikan elemen */
}

.bx {
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 30px

}

#menu-icon{
    color: black;
    font-size: 25px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}


