*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    height: 320vh;
    width: 100vw;
    background: whitesmoke;

}

body::-webkit-scrollbar {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;

    box-sizing: border-box;

}

.canvas {
    width: 100vw;
    height: 100vh;
    /*background: black;*/

    padding: 35px;
    /*margin-bottom: 10px;*/
}

.cont1 {
}

.box-1{
    width: 65%;
    height: 100%;
    background: gray;

    border-radius: 45px;
    border-top-left-radius: 366px ;
}

.box-2{
    width: 34%;
    height: 100%;

    background: gray;
    border-radius: 65px;
    border-bottom-right-radius: 220px;
}

.box-3{
    width: 36%;
    height: 100%;

    background: gray;
    border-radius: 65px;
    border-bottom-left-radius: 282px;
}

.colll {
    width: 62%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.box-4{
    width: 100%;
    height: 60%;

    background: gray;
    border-radius: 70px;
    border-top-right-radius: 293px;
}

.box-5{
    width: 100%;
    height: 35%;

    background: gray;
    border-radius: 70px;
}

.box-6{
    width: 100%;
    height: 100%;
    background: gray;
    border-radius: 70px;
}