.canvas {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: yellow;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 80%;
    background: white;
    border-radius: 30px;
    z-index: 2;
}

.row-canvas {
    width: 100%;
    height: 50%;
    display: flex;
}

.blk-1 {
    flex: 2;
}

.blk-2 {
    flex: 1;
    background: gray;
    border-top-right-radius: 30px;
}

.blk {
    flex: 1;
    background: whitesmoke;
    padding-top: 50px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /*border: 0.1px solid black;*/
}

/*.blk3 {*/
/*    flex: 1;*/
/*    background: darkblue;*/
/*}*/

.cont {
    position: relative;
    display: flex;
    flex-direction: column;

}

.all-program {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.all-program a {
    color: black;
    /*margin-left: 60px;*/
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.conten-blk1{
    font-size: 50px;
    margin-top: 30px;
}

.conten2-blk1{
    margin-top: 20px;
    width: 300px;
    word-wrap: break-word;
}

.qq {
    margin-left: 40px;
}

.buton {
    /*margin-top: 20px;*/
    display: flex;
    width: 100px;
    height: 30px;
    background: black;
    border-radius: 30px;

    color: white;
    align-items: center;
    justify-content: center;

    cursor: cell;
}

.row{
    /*margin-top: 20px;*/
    margin-left: 40px;
    display: flex;
    align-items: center;
    /*background: gray;*/
    gap: 10px;
}


.ll {
    margin-bottom: 10px;
}

.bx {
    font-size: 25px;
    cursor: pointer;
}

.blk:nth-child(3){
    background: #265073;
    color: white;
    border-bottom-right-radius: 30px;
}

.blk:nth-child(1){
    border-bottom-left-radius: 30px;
}