.canvas {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: yellow;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    background: white;
    border-radius: 30px;
}

.row-canvas {
    width: 100%;
    height: 50%;
    display: flex;
}

.blk-1 {
    flex: 2;
    /*background: gray;*/
}

.blk-2 {
    flex: 1;
    /*background: green;*/
}

.blk {
    flex: 1;
    /*background: green;*/
}
